

  body {
    background-color: #ece8d9;
  }

  h1 {
    color: #1f4068;
  }

  h3 {
    color: #1f4068;
  }

  hr {
    border-color: silver;
    border-style: dotted none none;
    border-width: 5px;
    width: 40px;
  }

  img {
    width:350px;height:350px;
  }
